:root {
  --blue-dark: #1e3a8a; /* Dark blue */
  --blue-medium: #3f8bc4; /* Medium blue */
  --blue-light: #6ea0d5; /* Light blue */
  --blue-pale: #b4d5eb; /* Pale blue */
  --blue-very-light: #d6e6f3; /* Very light blue */
  --blue-ultra-light: #eaf2f8; /* Ultra light blue */
  --blue-very-dark: #0f1e4a; /* Very dark blue */
  --blue-grayish: #7a9db5; /* Grayish blue */
  --blue-teal: #008080; /* Teal blue */
  --blue-cyan: #00ffff; /* Cyan blue */
  --white: #ffffff; /* White */
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--blue-very-dark);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.active {
  color: var(--blue-ultra-light);
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid var(--blue-ultra-light);
}

body {
  background-color: var(--blue-very-light);
}

button {
  color: var(--blue-very-light);
  background-color: var(--blue-teal);
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  font-weight: bold;
  margin: 0 5px;
}

button:hover {
  background-color: var(--blue-very-light);
  color: var(--blue-very-dark);
  border: 1px solid var(--blue-very-dark);
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue-ultra-light);
  padding: 10px;
}

.card p {
  text-align: justify;
  padding: 10px;
}

.card small {
  font-weight: bold;
  font-size: 13px;
  margin: 5px;
}

.content {
  white-space: pre-wrap;
  text-align: justify;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: var(--blue-teal);
  padding: 10px;
}

form a {
  color: var(--blue-ultra-light);
  font-weight: bold;
  margin: 5px;
}

form a:hover {
  font-style: italic;
}

form p {
  text-align: center;
  color: var(--blue-ultra-light);
  margin: 5px 0;
  border-bottom: 1px solid var(--blue-ultra-light);
  padding-bottom: 5px;
}

input {
  padding: 3px;
}

input[type="submit"] {
  border: 1.5px solid var(--blue-ultra-light);
  background-color: var(--blue-teal);
  color: var(--blue-ultra-light);
  font-weight: bold;
  margin-top: 5px;
  padding: 5px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: var(--blue-very-light);
  color: var(--blue-very-dark);
  border: 1.5px solid var(--blue-very-light);
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.input-group-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.input-group-column {
  display: flex;
  flex-direction: column;
  margin: 5px;
  gap: 8.5px;
}

.input-group label,
.input-group-column label,
.input-group-nav label {
  color: var(--blue-ultra-light);
  font-weight: bold;
}

.input-group-column label {
  text-align: center;
}

.input-group-nav label {
  margin-right: 10px;
}

main,
section {
  margin: 0 auto;
  width: fit-content;
  padding: 10px;
}

main h1 {
  margin: 10px 0;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 20px;
}

nav {
  background-color: var(--blue-very-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7px;
}

nav h1 {
  padding: 10px;
  margin: 0;
  color: var(--blue-ultra-light);
  font-size: 40px;
}

nav .link {
  color: var(--blue-ultra-light);
  font-weight: bold;
  text-decoration: none;
}

nav .link:hover {
  text-decoration: underline;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 20px;
}

select {
  background-color: var(--blue-very-light);
  padding: 3px;
  color: var(--blue-very-dark);
  font-weight: bold;
}

textarea {
  padding: 5px;
}
